.btn {
  width: 148px;
  height: 42px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid $light-color;
  color: $light-color;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-style 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: $press-color;
    scale: 1.05;
    color: $light-color;
    border-style: none;
  }
  &:focus {
    background: $press-color;
    color: $light-color;
  }
}

.btn-up {
  position: fixed;
  background-color: $press-color;
  right: 20px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
}

.btn-up::before {
  content: '';
  // width: 40px;
  // height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  // background-image: url();
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: $press-color-darker;
  }
}

.btn-up__icon {
  fill: $light-color;
}
