.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }



.modal {
    position: relative;
    display: flex;
    width: 806px;
    min-height: 558px;
    margin:0 auto;
    padding: 40px 12px;
    border: 1px solid rgb(3, 52, 249);
}

.modal_close_btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border-style: none;
}

.modal_close_btn:hover svg {
   background-color: rgb(230, 86, 86);
}




.modal_image {
    width: 375px;
    height: 478px;
    border-radius: 5px;
}

.modal_info {
    margin-left: 16px ;
}

.modal_info_name {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.modal_specific {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 20px;
    font-size: 12px;
    padding: 0;
    gap: 8px;
}

.modal_values_line {
    display: flex;
    flex-direction: row;
}

.modal_specific--item {
    width: 152px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8C8C8C;
}

.modal_specific--value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;   
}

.modal_specific--vote {
    display: inline-flex;
    justify-content: center;
    color: #FFFFFF;
    width: 36px;
    background-color: #FF6B01;
    border-radius: 5px;
    margin-right: 3px;
}

.modal_specific--votes{
    display: inline-flex;
    justify-content: center;
    width: 36px;
    border-radius: 5px;
}

.modal_description--title {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    text-transform: uppercase;
    color: #000000;
}

.modal_description--text {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: #000000;
}

.modal_buttons {
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal_btn {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
}

.modal_btn:hover {
    background: #FF6B01;
    scale: 1.05;
    color: #FFFFFF;
    border-style: none;
}






