<footer class="footer">
  <div class="footer-section">
    <div class="footer-group">
      <span class="footer-section__title">
        &#169; 2022 | All Rights Reserved |
      </span>
      <span class="footer-section__title">Developed with</span>
      <svg class="footer-section__icon" width="14" height="13">
        <use href="./images/icons.svg#icon-GoIt"></use>
      </svg>
      <div class="footer-section__team">
        <span>by</span>
        <a href="/" class="footer-section__link">GoIT&nbsp;Students</a>
      </div>
    </div>
    <a href="./blackout.html" class="dont-touch">Don't press!</a>
  </div>
</footer>
