<div class="backdrop is-hidden" data-footerModal>
  <div class="footer-modal">
    <button class="footer-modal__btn" data-modal-close>
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="developersTeam">Development team</h2>
    <ul class="team-list">
      <li class="team-list__item">
        <img
          src="./images/footer-modal/sR.jpg"
          alt="photo Serhii Reznichenko"
          loading="lazy"
        />

        <div class="team-member">
          <h3 class="team-member__name">Serhii Reznichenko</h3>
          <p lang="en" class="team-member__position">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://www.linkedin.com/in/serhii-reznichenko-510ba320a/"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://github.com/Sennarion"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list__item">
        <img
          src="./images/footer-modal/aV.jpg"
          alt="photo Anton Vitulskyi"
          loading="lazy"
        />

        <div class="team-member">
          <h3 class="team-member__name">Anton Vitulskyi</h3>
          <p lang="en" class="team-member__position">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://www.linkedin.com/in/anton-vitulskiy-bb592b243/"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://github.com/AntonVitulskyi"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list__item">
        <img
          src="./images/footer-modal/oK.jpg"
          alt="photo Oleksandr Korovin"
          loading="lazy"
        />

        <div class="team-member">
          <h3 class="team-member__name">Oleksandr Korovin</h3>
          <p lang="en" class="team-member__position">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://www.linkedin.com/in/oleksandr-korovin-9703b0206/"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://github.com/OlekkKor"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list__item">
        <img
          src="./images/footer-modal/aB.jpg"
          alt="photo Oleksandr Bron"
          loading="lazy"
        />

        <div class="team-member">
          <h3 class="team-member__name">Oleksandr Bron</h3>
          <p lang="en" class="team-member__position">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://www.linkedin.com/in/oleksandr-bron/"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://github.com/AlexArmor"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-list__item">
        <img
          src="./images/footer-modal/nG.jpg"
          alt="photo Nadiia Hrechkosii"
          loading="lazy"
        />
        <!-- <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/team/img-2_ld.jpg    1x,
              ./images/team/img-2_ld@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-2_md.jpg    1x,
              ./images/team/img-2_md@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 480px)"
            srcset="
              ./images/team/img-2_sm.jpg    1x,
              ./images/team/img-2_sm@2x.jpg 2x
            "
          />
          <img
            src="./images/team/img-2_sm.jpg"
            alt="фото Бронь Олександра"
            loading="lazy"
          />
        </picture> -->

        <div class="team-member">
          <h3 class="team-member__name">Nadiia Hrechkosii</h3>
          <p lang="en" class="team-member__position">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://www.linkedin.com/in/nadiia-hrechkosii/"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a
                class="social-list__icon"
                href="https://github.com/GrechkoseyNadezhda"
                target="_blank"
              >
                <svg class="icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
