<header class="header home">
    <div class = "container">
        <div class = "header__tabs">
            <div class="header__title">
                <a href="/src/index.html" class="header__logo">
                        <svg class="header__svg" width="23px" height="24px">
                            <use href="/src/images/icons.svg#icon-Logo"></use></svg>
                    <span class="header__logoText">Filmoteka</span>
                        </a>
            </div>

            <div class = "hidden team__members">
                <div class="team__leadScrum">
                    <p>Oleksandr Bron</p>
                    <p>Nadiia Hrechkosii</p>
                </div>
                <div class="team__developers">
                <p>Oleksandr Korovin</p>
                <p>Serhii Reznichenko</p>
                <p>Anton Vitulskyi</p>
                </div>
            </div>

            <label id="switch-theme" class="switch-theme">
                <input type="checkbox" id="slider">
                <span class="slider round"></span>
            </label>
            <div class="header__nav">
            <ul class="header__elements">
                <li class = "header__item current"> HOME </li>
                <li class = "header__item"> <a href="/src/library.html">MY LIBRARY</a></li>
            </div>
       </div>


        <div class="header__form">
            <form class = "header__search" autocomplete="off">
                <label class="header__label"> 
                    <input
                    class="header__input"
                    type="text"
                    name="input"
                    placeholder="Movie search"
                     /> 
                </label>

                <button class="header__formBnt" type="submit">
                    <svg class="header__svg" width="12px" height="12px">
                    <use href="/src/images/icons.svg#icon-glass"></use></svg>
                </button>
            </form>
        </div>
        
    </div>

</header>