<header class="header home">
    <div class = "container">
        <div class = "header__tabs">
            <div class="header__title">
                <a href="" class="header__logo">
                    <svg class="header__svg" width="23px" height="24px">
                        <use href="/src/images/header-home/symbol-defs.svg#icon-back_logo"></use></svg>
                    <span class="header__logoText">Filmoteka</span>
                </a>
            </div>

        <div class="header__nav">
            <ul class="header__elements">
                <li class = "header__item current"> HOME </li>
                <li class = "header__item"> MY LIBRARY </li>
        </div>
       </div>


        <div class="header__form">
            <form class = "header__search">
                <label class="header__label"> 
                    <input
                    class="header__input"
                    type="text"
                    name="searchQuery"
                    placeholder="Movie search"
                     /> 
                </label>

                <button class="header__formBnt" type="submit"><svg class="header__svg" width="12px" height="12px">
                    <use href="/src/images/header-home/glass.svg#icon-glass"></use></svg></button>
            </form>
        </div>
    </div>

</header>