<header class="header library">
    <div class = "container">
        
      <div class = "header__tabs">

        <div class="header__title">
            <a href="/src/index.html" class="header__logo">
                <svg class="header__svg" width="23px" height="24px">
                    <use href="/src/images/icons.svg#icon-Logo"></use></svg>
                <span class="header__logoText">Filmoteka</span>
            </a>
        </div>

        <label id="switch-theme" class="switch-theme">
            <input type="checkbox" id="slider">
            <span class="slider round"></span>
        </label>

        <div class="header__nav">
            <ul class="header__elements">
                <li class = "header__item"> <a href="/src/index.html">HOME </a></li>
                <li class = "header__item current"> MY LIBRARY </li>
        </div>
       </div>

        <div class="header__btns">
            <button class="header__bnt header__bnt--watched header__bnt--active" type="submit"> Watched  </button>
            <button class="header__bnt header__bnt--queue" type="submit"> Queue </button>
        </div>
    </div>

</header>