<dialog class="modal_window" id="modal_window">
  <div class="modal">
    <button type="button" class="modal_close_btn">
      <svg class="close_btn__svg" width="30px" height="30px">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal_picture">
      <img
        class="modal_image"
        src="./images/modal_img.jpg"
        alt="Movie main picture"
      />
    </div>
    <div class="modal_info">
      <h2 class="modal_info_name">A FISTFUL OF LEAD</h2>
      <ul class="modal_specific">
        <li class="modal_values_line">
          <span class="modal_specific--item">Vote / Votes</span>
          <span class="modal_specific--value"
            ><span class="modal_specific--vote" data-vote>7.3</span>/<span
              class="modal_specific--votes"
              data-votes
              >1260</span
            >
          </span>
        </li>
        <li class="modal_values_line">
          <span class="modal_specific--item">Popularity</span>
          <span class="modal_specific--value" data-popularity>100.2</span>
        </li>
        <li class="modal_values_line">
          <span class="modal_specific--item">Original Title</span>
          <span class="modal_specific--value" data-title
            >A FISTFUL OF LEAD</span
          >
        </li>
        <li class="modal_values_line">
          <span class="modal_specific--item">Genre</span>
          <span class="modal_specific--value" data-genres>Western</span>
        </li>
      </ul>
      <div class="modal_description">
        <h3 class="modal_description--title">About</h3>
        <p class="modal_description--text" data-text-overview>
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </div>
      <div class="modal_buttons">
        <button type="button" class="modal_btn btn js-toWatchBtn">
          ADD TO WATCHED
        </button>
        <button type="button" class="modal_btn btn js-toAddtoQue">
          ADD TO QUEUE
        </button>
      </div>
      <!-- <div class="modal_movie_trailer">
                    <a target="_blank" class="modal_movie_trailer--ref" href="#"><svg class="movie_trailer__svg" width="23px" height="24px">
                        <use href="/src/images/icons.svg#icon-youtube"></use></svg><p>WATCH TRAILER</p></a>
                </div> -->
      <div class="modal_youtube_video_container">
        <!-- <iframe class="modal_youtube_video" width="240" height="180" src="https://www.youtube.com/embed/_pAmhY0siWM" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      </div>
    </div>
  </div>
</dialog>
