<div class="container">
    <div class="modal">
        <button type="button" class="modal_close_btn">X</button>
        <div class="modal_picture">
        <img class="modal_image" src="./images/modal_img.jpg" alt="sdfsdf">
        </div>
        <div class="modal_info">
            <h2 class="modal_info_name">A FISTFUL OF LEAD</h2>
            <ul class="modal_specific">
                <li class="modal_values_line"><span class="modal_specific--item">Vote / Votes</span>
                    <span class="modal_specific--value"><span class="modal_specific--vote">7.3</span>/<span class="modal_specific--votes">1260</span>
                    </span>
                </li>
                <li class="modal_values_line"><span class="modal_specific--item">Popularity</span>
                    <span class="modal_specific--value">100.2</span>
                </li>
                <li class="modal_values_line"><span class="modal_specific--item">Original Title</span>
                    <span class="modal_specific--value">A FISTFUL OF LEAD</span>
                </li>
                <li class="modal_values_line"><span class="modal_specific--item">Genre</span>
                    <span class="modal_specific--value">Western</span>
                </li>
            </ul>
            <div class="modal_description">
                <h3 class="modal_description--title">About</h3>
                <p class="modal_description--text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
            </div>
            <div class="modal_buttons">
                <button type="button" class="modal_btn">ADD TO WATCHED</button>
                <button type="button" class="modal_btn">ADD TO QUEUE</button>
            </div>
            <div class="modal_trailer">
                <a  href="#">WATCH TRAILER</a>
            </div>
        </div>
    </div>
</div>




