body.theme-dark {
  background-image: url('../images/dark-theme/dark-theme-bg.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: repeat-y;

  .movie__name {
    color: $light-color;
  }

  .tui-page-btn,
  .tui-first,
  .tui-last {
    color: $light-color;
    &:hover {
      background: $press-color;
    }
  }
  .tui-is-selected {
    color: $light-color;
  }

  .tui-prev,
  .tui-next,
  .tui-first,
  .tui-last {
    background: $footer-bg-color;
  }

  .footer-section {
    color: $footer-bg-color;
    background-color: $dark-color;
  }

  .footer-section__link {
    color: $footer-bg-color;
  }

  .modal,
  .footer-modal {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(51, 0, 0, 1) 70%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .modal_info_name,
  .modal_specific--item,
  .modal_specific--value,
  .modal_description--text,
  .modal_description--title,
  .modal_btn,
  .modal_movie_trailer--ref {
    color: $light-color;
  }

  .modal_btn,
  .modal_movie_trailer--ref {
    border-color: $light-color;
  }

  .close_btn__svg {
    stroke: $light-color;
  }

  .footer-modal {
    border: 1px solid $press-color;
  }
}
