.page-main {
  padding: 20px 0;

  @media screen and (min-width: $tablet-width) {
    padding: 60px 0;
  }
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: $tablet-width) {
    gap: 32px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 32px 16px;
  }
}

.movie {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: $desktop-width) {
    width: calc((100% - 32px) / 3);
  }
}

.movie__img {
  flex-grow: 1;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.movie__info {
  font-size: 12px;
  font-weight: 500;
  line-height: calc(16 / 12);

  @media screen and (min-width: $desktop-width) {
    font-size: 20px;
    font-weight: 500;
    line-height: calc(24 / 20);
  }
}

.movie__name {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie__description {
  color: $press-color;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
