.page-main {
  padding: 60px 0;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: $tablet-width) {
    gap: 32px;
  }

  @media screen and (min-width: $desktop-width) {
    gap: 32px 16px;
  }
}

.movie {
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: $desktop-width) {
    width: calc((100% - 32px) / 3);
  }
}

.movie__img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie__name {
  text-transform: uppercase;
}

.movie__description {
  color: $press-color;
}
